/* styles go here */

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Raleway", sans-serif;
  color: black;
}

h1 {
  font-size: 1.5rem;
}

h1,
p {
  padding-bottom: 10px;
}

/* Header*/

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #82ccdd;
  height: 10vh;
}

.back {
  background-image: url(../public/back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 130vh;
}

.flex-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 13rem;
}

a {
  color: #101039;
}

/* Search */

form {
  display: flex;
  width: 16.3rem;
  justify-content: space-between;
  margin: 20px auto;
}

.input-form {
  color: #fff;
  padding: 10px;
  border: none;
  background-color: #101039;
  border-radius: 15px;
  min-width: 15rem;
  text-align: center;
}

input::placeholder {
  color: #fff;
  text-align: center;
}

input:focus::placeholder {
  color: transparent;
}

/* BookCard */

.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px;
}

.cards {
  border: 2px solid black;
  background-color: #82ccdd;
  padding: 2rem;
  border-radius: 15px;
  width: 15rem;
  height: 18rem;
  transform: scale(0.80);
  transition: transform 0.9s, opacity 0.5s;
}

.cards:hover {
  transform: scale(1);
  background-color: #fff;
  color: #101039;
}

.card-contents {
  min-width: 15rem;
}

/* media query */

@media (max-width: 415px) and (min-width: 375px) {
  .header {
    justify-content: space-evenly;
    width: auto;
  }
  .flex-logo {
    width: 12rem;
  }
  .card-container {
    justify-content: center;
  }
  .back {
    background-size: cover;
    height: auto;
  }
  .bookmarks {
    width: 13.4rem;
  }
  .back {
    height: 200vh;
  }
  .cards {
    width: 14rem;
    height: 11rem;
    transform: scale(0.75);
  }
}